<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - FreelanceTool</title>

	@await Html.PartialAsync("_ApplicationStylesPartial")
	@RenderSection("Styles", required: false)
</head>
<body>

	@await Html.PartialAsync("_ApplicationNavigationPartial")

	<div class="container body-content">
		
		@* The body of the view goes here *@
		@RenderBody()

		<hr />
		
		<footer>
			<p class="application-footer">&copy; @DateTime.Now.Year - Freelance Tool</p>
		</footer>
	</div>

	
	@await Html.PartialAsync("_ApplicationScriptsPartial")
	@RenderSection("Scripts", required: false)
</body>
</html>
