@using FreelanceTool.Helpers
@using FreelanceTool.Models.Enums
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject AppLocalizer AppLocalizer
@model Applicant

@{
    ViewData["Title"] = @Localizer["Seitentitel"].Value + @Model.FirstName + " " + @Model.LastName; ;
    var deletableFilesCount = Model.ApplicantFiles.Count(af => af.Type != ApplicantFileType.Csv);
}

<h1>@Localizer["Title"] @Model.FirstName @Model.LastName</h1>

<div class="card note text-white text-left p-3">
    <blockquote class="blockquote mb-0">
        <p>@Localizer["Introduction"]</p>
    </blockquote>
</div>
<i class="divider-thick"></i>

<h3>@Localizer["List Title"] @Model.FirstName @Model.LastName (@Model.Id)</h3>

<table id="applications-list" class="table table-hover table-sm table-striped applicants-table" cellspacing="0" width="100%" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Localizer["List Header Download"]
            </th>
            <th>
                @Localizer["List Header Description"]
            </th>
            <th class="last-column">
                @Localizer["List Header Size"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model.ApplicantFiles)
        {
        <tr>
            <td>
                <a asp-action="DownloadFile" asp-route-id="@file.Id" class="detail-link">@file.OriginalName</a>
            </td>
            <td>
                @AppLocalizer.LocalizeEnum(file.Type)
            </td>
            <td class="last-column">
                @Math.Ceiling(file.Length / 1024d) @Localizer["kb"]
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="row align-items-center">
    <div class="col-6">
        <a asp-action="Index" class="cleven-link">@Localizer["Back Link Text"]</a>
    </div>
    <div class="col-6">
        <form asp-action="DeleteFiles" asp-route-id="@Model.Id" role="form" id="delete-files-form" data-deletable-files-count="@deletableFilesCount">
            <div class="md-form" style="text-align: right; margin-bottom: 0;">
                <button type="button" class="btn btn-info btn-upload submit" id="delete-files">
                    @Localizer["Delete Button Text"]
                </button>
            </div>
        </form>
    </div>
</div>

<div style="height: 45px;"></div>

@section Scripts {
    <script>
        $(function () {

            // Handle files deletion.
            (function () {
                var deletableFiles = parseInt($("form#delete-files-form").data("deletable-files-count"));
                var deleteFilesButton = $("#delete-files");
                if (deletableFiles < 1) {
                    deleteFilesButton.attr("disabled", true);
                } else {
                    deleteFilesButton.on("click", function () {
                        var isConfirmed = confirm("@Localizer["Delete Form Confirmation"]");

                        if (isConfirmed) {
                            $("form#delete-files-form").submit();
                        }
                    });
                }
            }());

        });
    </script>
}
