@using FreelanceTool.Helpers
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject AppLocalizer AppLocalizer
@model Applicant

@{
	ViewData["Title"] = "Details";
}

<div class="body-inner">
	<h2 class="extra-margin-vertical">@ViewData["Title"]</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in turpis eu nunc hendrerit faucibus. Aliquam lacus nisl, vestibulum eget pharetra nec, molestie in libero. Integer quis erat sit amet risus hendrerit lobortis. Curabitur molestie mi feugiat, ullamcorper tortor sed, dictum mi. Nam aliquet tortor ex, gravida ornare justo ultrices condimentum. Interdum et malesuada fames ac ante ipsum primis in faucibus. In nec dui ante. Vivamus quis neque nibh. Maecenas at est elementum, pretium est id, porta dolor. Nulla convallis ante vel erat fringilla, eu ornare sapien euismod. Curabitur dapibus eu diam quis volutpat.

		Vestibulum ullamcorper nibh eu nisl volutpat lobortis. Morbi feugiat consectetur tortor, sed faucibus purus semper nec. Proin tincidunt tempus risus, eget sodales lorem vestibulum vitae. Etiam lobortis tortor sapien. Nam eget accumsan neque. Mauris id orci nisl. Vestibulum laoreet, sapien ut rhoncus bibendum, leo urna scelerisque leo, at volutpat dui tellus sed nisl.
	</p>
	<div class="row">
		<div class="col-md-8">
			<h3 class="applicant-details-header">Your search for @Model.LastName @Model.FirstName returned</h3>

			@foreach (var file in Model.ApplicantFiles)
			{
				<p>
					<a asp-action="DownloadFile" asp-route-id="@file.Id">@file.OriginalName</a>
					- @Math.Ceiling(file.Length / 1024d)kB - @AppLocalizer.LocalizeEnum(file.Type)
				</p>
			}
			<button type="button" class="btn btn-danger extra-margin-vertical">
				Delete Files from Server
			</button>
		</div>
	</div>
	<div>
		@*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |*@
		<a asp-action="Index" class="pull-right extra-margin-vertical">Back to Search</a>
	</div>
</div>
