@using FreelanceTool.Models.Enums
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using FreelanceTool.Data;

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@model PaginatedList<Applicant>

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<div class="card note text-white text-left p-3">
    <blockquote class="blockquote mb-0">
        <p>@Localizer["Introduction"]</p>
    </blockquote>
</div>

<i class="divider-thick"></i>

@* Search box *@
<form asp-action="Index" method="get" id="applicant-search-form">
    <h3>@Localizer["Search Title"]</h3>

    @* Custom message *@
    @if (ViewBag.Message != null)
    {
        var alertClass = ViewBag.Success ? "success" : "warning";
        var alertMessage = ViewBag.Success ? Localizer["Files have been deleted successfully."] : Localizer["Alert Message Error"];
        <div class="alert alert-@alertClass alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @alertMessage
        </div>
    }

    <div class="md-form">
        <label for="ApplicantId">@Localizer["Search Box Label"]</label>
        <input type="number" name="ApplicantId" id="ApplicantId" class="form-control" data-val-required-cond="@Localizer["Search Box Validation Message"]" autocomplete="no-autocomplete" required />
        <span class="text-danger" id="applicant-id-error"></span>
    </div>
    <div class="md-form" style="text-align: right;">
        <button type="button" class="btn btn-info btn-upload submit">
            @Localizer["Search Button Text"]
        </button>
    </div>
</form>



<h3 class="extra-margin-vertical">@Localizer["List of registrations"]</h3>
<table id="applications-list" class="table table-hover table-sm table-striped applicants-table" cellspacing="0" width="100%" style="width: 100%">
    <thead>
        <tr>
            <th>
                @Localizer["List Header Date"]
            </th>
            <th>
                @Localizer["List Header Last Name"]
            </th>
            <th>
                @Localizer["List Header First Name"]
            </th>
            <th>
                @Localizer["List Header Email"]
            </th>
            <th class="last-column"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="last-column">
                    <a asp-action="Details" asp-route-id="@item.Id" class="detail-link">@Localizer["Liste Row Show Details"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.HasPreviousPage || Model.HasNextPage)
{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    <div class="row">
        <div class="col-md-2 col-md-offset-4">
            <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)"
               class="btn btn-default btn-block @prevDisabled">
                Zurück
            </a>
        </div>
        <div class="col-md-2">
            <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)"
               class="btn btn-default btn-block @nextDisabled">
                Weiter
            </a>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="~/lib/mdb/js/addons/datatables.min.js"></script>
    <script>
        $(function () {

            // Client side validate the applicant-id to search for.
            (function () {
                var applicantSearchForm = $("form#applicant-search-form");
                var applicantIdInput = $("input[name='ApplicantId']").first();
                applicantSearchForm.on("submit", function (event) {
                    event.preventDefault();

                    if (isFieldEmpty(applicantIdInput)) {
                        updateErrorMessage(
                            applicantIdInput, "#applicant-id-error");
                        scrollToError("#applicant-search-form");

                        return;
                    }

                    applicantSearchForm.off("submit").submit();
                });
            }());

            // Add Submit to Search - Button
            $("#applicant-search-form button.submit").bind("click", function () {
                $("#applicant-search-form").submit();
            });

            // Datatable-Options
            $('#applications-list').DataTable({
                "pagingType": "full",
                "language": {
                    "paginate": {
                        "previous": "zurück",
                        "next": "weiter",
                        "first": "erste",
                        "last": "letzte"
                    },
                    "decimal": "",
                    "emptyTable": "Keine Daten gefunden",
                    "info": "Zeige _START_ bis _END_ von _TOTAL_ Einträgen",
                    "infoEmpty": "Zeige 0 bis 0 von 0 Einträgen",
                    "infoFiltered": "(gefiltert von _MAX_ Einträgen total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Zeige _MENU_ Einträge",
                    "loadingRecords": "Lade...",
                    "processing": "Verarbeiten...",
                    "search": "Suche in Tabelle:",
                    "zeroRecords": "Keine passenden Daten gefunden"
                }
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
